.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.dark-blue {
    color: #190F35FF;
    font-family: 'Pacifico', cursive;
}

.btn-pink {
    background-color: #E36EA7;
    border-color: #E36EA7;
}

.icon-pink {
    color: #E36EA7;
}